@{
    ViewData["Title"] = "Log In or Register";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Hobby Hub!  </h3>  
</div>

<div class="leftside">
    <partial name="PartialRegistration"/>
</div>

<div class="rightside">
    <partial name="PartialLogIn"/>
</div>
